<article class="post">
    <div class="title">
        <a href="{{post_data}}" target="_blank">{{title}}</a>
        <span>({{post_data}})</span>
    </div>
    <div class="meta">
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</article>